PGCLIENTENCODING=UTF8
PGDATABASE=postgres
PGHOST=127.0.0.1
PGOPTIONS="--timezone=$(date +%z | head -c 3)"
PGPASSWORD=
PGPORT=5432
PGPROMPT='%[%033[1;7m%] %R %[%033[0m%] '
PGUSER=postgres
PSQL_PAGER='less -SX --header 2'
